body {
    width: 100%;
    height: 100%;
    background-color: #373737;
    color: ghostwhite;
    text-align: center;
    font-family: 'Mali', cursive;
}
.large-font { 
    font-family: 'Open Sans', sans-serif;
}

a {
    color: yellow;
}
/*Mobile CODE below*/

.wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 3px;
        width: 100%;
        height: 100%;
} 
#navbar {
    background-color: #373737;
    top: 0px;
    width: 100%;
    /* height: 40px; */
    grid-row: 1 / 2;
    position: fixed;
    align-items: center;
}
#navbar li {
    display: inline;
    vertical-align: middle;
    align-self: center;
}
header {
    text-align: center;
}
#about-project {
    background-color: #373737;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1.0px;
    font-size: 1rem;
    border: 5em;
    width: 100%;
    text-align: center;
    align-content: center;
}
ul {
    text-align: center;
    padding: 0;
}
img {
    border-radius: 2%;
    align-items: center;
}
.color:hover {
    background: tomato;
    color: black;
}
.btn {
    background-color: #5D5D5D;
    border: 0;
    color: orange;
    padding: 11px;
    font-family: inherit;
    font-size: 1.2rem;
}
@media only screen and (max-width: 1450px) {
    body {
        width: 100%;
        height: 100%;                
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr auto; 
        grid-template-rows: 1fr auto;
        grid-gap: 5px;
    }
}
@media only screen and (min-width: 1451px) {
    body {
        width: 100%;
        height: 100%;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-gap: 5px;
    }
}