@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
  /* margin: 0; */
  width: 100%;
  height: 100%;
  /* color: #4491D9; */
  /* background: #112e5e; */
  z-index: -1;

  text-align: center;
  font-family: 'Chelsea Market', cursive;
  font-size: 18px;
  /* opacity: 0.7; */
}

/* .large-font {
  font-family: 'Rammetto One', cursive;
} */

a {
  color: #b8c6ce;
  text-decoration: none;
}

/*Mobile CODE below*/

.grid-wrapper {
  display: grid;
  grid-template-rows: 110px 2px 868px 1fr 320px;
  grid-gap: 3px;
  width: 100%;
  height: 100%;
}

nav {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 10vh;
  grid-row: 1 / 2;
  font-family: 'Chelsea Market', cursive;
  font-size: 70px;
  box-sizing: border-box;
  background: rgb(17, 46, 94);
  background: linear-gradient(185deg, rgba(17, 46, 94, 1) 0%);
}

nav:after {
  position: absolute;
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 100px;
  left: 0px;
  transform-origin: top left;
  transform: skewY(2deg);
  /* border-color: black;
  border-style: solid; */
}

.nav-links {
  display: flex;
  list-style: none;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-top: inherit;
  /* desktop view menu right */
}

.nav-links li a {
  color: #b8c6ce;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

header {
  text-align: center;
}

/* #welcome-section {
  width: 100%;
  height: 100vh;
  grid-row: 2 / 3;
  text-align: center;
  align-self: right;
  align-items: center;
}

#welcome-section h1 {
  background-color: blue;
  width: 100%;
  margin-top: 20px;
} */

.about-me {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  opacity: 0.70;
  background-position: 50% 50%;
  background-image: url(https://raw.githubusercontent.com/TheMarco77/fccPrj5Portfolio/master/img/mainPortfolioImageMarcoFilipeFigueiraRamos.jpg);
  font-family: 'Chelsea Market', cursive;
  z-index: -1;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 5em;
  grid-row: 3 / 4;
  text-align: center;
  align-content: center;
}

.aboutMe-title {
  /* position: relative; */
  /* height: 100vh;
  width: 100vw; */
  /* background: rgba(0, 0, 0, 0.4); */
  color: rgb(1, 3, 8);
  font-weight: bold;
  display: left;
  align-items: left;
  text-align: left;
  padding: 10px;
  /* justify-content: center; */
  /* flex-direction: column; */
}

.aboutMe-sub-title {
  /* position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);*/
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  font-style: italic;
  font-size: 23px;
  /* padding: 5px 5px 3px 5px; */
  display: flex;
  align-items: right;
  text-align: left;
  justify-content: center;
  /* flex-direction: column;*/
}

/* .aboutMe-message {
  position: inherit;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: black;
  display: flex;
  align-items: right;
  text-align: right;
  /* justify-content: center; */
/* flex-direction: column; 
}*/

/* .aboutMe-sub-title {
  position: flex;
  height: 100%;
  width: 100%;
  background: ;
  color: black;
  display: flex;
  align-items: right; */
/* justify-content: center; */
/* flex-direction: column;
}*/

/* #about-me img {
  align-items: left;
}

#about-me li {
  margin: 0 auto;
  list-style: none;
} */

ul {
  text-align: center;
}

img {
  margin-top: 50px;
  border-radius: 5%;
  align-items: center;
}

.color:hover {
  background: tomato;
  color: black;
}

.btn {
  background-color: #373737;
  border: 0;
  color: purple;
  padding: 11px;
  font-family: inherit;
  font-size: 1.2rem;
}

#projects {
  background: rgb(14, 0, 0);
  background: radial-gradient(circle,
      rgba(14, 0, 0, 1) 53%,
      rgba(242, 5, 5, 0.7931547619047619) 89%);
  grid-row: 4 / 5;
  font-family: 'Chelsea Market', cursive;
  font-size: 100%;
  color: orange;
}

li {
  display: inline-block;
}

#footer {
  background: linear-gradient(90deg,
      rgba(14, 0, 0, 1) 39%,
      rgba(238, 5, 5, 0.9374124649859944) 66%,
      rgba(232, 246, 27, 1) 98%);
  grid-row: 5 / 6;
  width: 100%;
  font-family: 'Chelsea Market', cursive;
}

#footer li {
  color: #b8c6ce;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  nav {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 6%;
    top: 40%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: linear-gradient(80deg,
        rgba(238, 5, 5, 0.959) 39%,
        rgba(231, 246, 27, 0.959) 98%,
        rgba(14, 0, 0, 0.945) 2%);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 2s ease;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 20px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }

  li.fade {
    opacity: 1;
  }

  .grid-wrapper {
    display: grid;
    grid-template-rows: 60px 0px 580px 1fr 650px;
    /* repeat(2, 40px)*/
    /* grid-template-rows: repeat(2, 30px) 500px 1190px 1fr; */
    /* grid-template-rows: repeat(2, 40px) 300px 1190px 1fr; */
    grid-gap: 5px;
  }
}

/* @media only screen and (min-width: 1451px) {
  body {
    width: 100%;
    height: 100%;
  } */

/* .wrapper {
  display: grid;
  grid-template-rows: 50px 0px 500px 1fr 285px;
  /*repeat(2, 40px)*/
/* grid-template-rows: repeat(2, 30px) 500px 1190px 1fr; */
/* grid-template-rows: repeat(2, 40px) 300px 1190px 1fr; */
/* grid-gap: 5px; */
/* } */