body {
    background-color: tomato;
    width: 100vw;
    height: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .wrapper {
        display: grid;
        grid-template-rows: 40px repeat(2, 150px) repeat(2, 500px) 1fr;
} 

/*
Grid templates gap commands below:
     grid-column-gap: 10px;
     grid-row-gap: 10px;
Grid templates gap commands above
*/

#navbar {
    background-color: pink;
    top: 0px;
    vertical-align: middle;
    width: 100vw;
    height: 40px;
    font-size: 18px;
    margin-bottom: 5px;
    grid-row: 1 / 2;
    position: fixed;
    text-align: justify;
}

header {
    position: fixed;
    top: 0;
    /*text-align: center;
    width: 100%;*/ 
    /*opacity: 0.2;
    filter: alpha(opacity=50);*/
}

#welcome-section {
    color: green;
    height: 100vh;
    grid-row: 2 / 3;
}

.project-tile {
    /*top: 5px;
    text-align: center;
    width: 100%;
    display: grid;
    padding: 10%;*/ 
    grid-row: 3 / 4;
}

#profile-link {
    width: 100%;

}
